body{
  background-color: white;
}

.black {
  width: 40%;
}

h2, h3, h4 {
 text-align: center;
}
.well {
  z-index: 100 !important;
}

select{
  background-color: white !important;
  border: 1px solid black !important;
  color: #c39449 !important;
  width: 40%;
}

option:active{
  background-color: red !important;
  color: gold !important;
}

form {
  max-width: 900px;
  display: block;
  margin: auto;
}
.banner{
  height: 80vh;
  background-image: url("http://cdn.skim.gs/images/pxxoepyc1fshnq4xi6en/endangered-animals");
  background-size: cover;
  background-position: center;
}
.newRecipeDiv{
  margin-top: 20%;
}
.selectType {
  max-width: 40%;
  margin: auto;

}


.aboutDiv em{
  font-size: 18px;
}
.aboutDiv {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 40px;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  min-height: 600px;
}
 h1{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3.5em;
  text-align: center;
}
img {
  display: block;
  margin: auto;
}

body{
  max-width: 1200px;
  margin: auto;
}
#ageH4{
  text-align: left;
}

#editZooForm, #addNewForm {
  color: white;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 15%;
  top: 15%;
  height: 70%;
  width: 70%;
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  margin: auto;
}
#editZooForm button {
  color: yellow;
}

/*flip stuff */


* {
  box-sizing: border-box;
}

.hover-fold {
  background: white;
  /*border: 5px green solid;*/
  height: 390px;
  /*margin: auto;*/
  -moz-perspective: 1500;
  -webkit-perspective: 1500;
  perspective: 1500;
  position: relative;
  width: 390px;
}
.hover-fold h2 {
  /*border-bottom: 1px solid #333;*/
  /*margin: 0 40px;*/
  padding: 110px 0 2px;
}
.hover-fold .top {
  height: 40%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.hover-fold .top .face {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.hover-fold:hover .top {
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.hover-fold .front {
  height: 100%;
  /*has to be 100% of .top */
  width: 100%;
}
.hover-fold .back {
  background: white;
  height: 100%;
  /*has to be 100% of .top */
  padding: 20px 20px;
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  width: 100%;
}
.hover-fold .back p {
  margin: 0;
}
.hover-fold .bottom {
  height: 40%;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 0;
}
.cards, .col-md-4{
  margin-top: 0px !important;
  margin-bottom: 0px !important ;
}
.cardButtonRow{
padding: 20px;
}
